{% extends "layout.html" %}
{% load i18n %}

{% block title %}
{% trans 'Access denied!' %}
{% endblock %}
{% block content %}

<div class="flex items-center justify-center">
    <div class="max-w-lg mx-auto p-6 bg-base-200 rounded-lg shadow-md">

        <h2 class="text-2xl font-semibold mb-4">{% trans 'Access denied!' %}</h2>
        <hr>
        <br>
        <div class="grid grid-cols-1 gap-4 ">

            <p class="text-md font-bold mb-2">{% trans 'You do not have permission to access this page' %}</p>

            <div class="flex text-sm text-gray-500 ml-2">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M12 16v-4"></path>
                        <path d="M12 8h.01"></path>
                    </svg> </span> &nbsp;
                <span> {% trans ' Please contact the administrator or log in with the right account.' %}</span>
            </div>

            <div class="flex text-sm text-gray-500 ml-2">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M12 16v-4"></path>
                        <path d="M12 8h.01"></path>
                    </svg> </span> &nbsp;
                <span>
                    {% trans ' This page may become inaccessible if you have used the same credentials to log in on another device or inactive for long time.' %}</span>
            </div>


            <div> <a href="{% url 'login' %}" class="btn btn-primary w-full">{% trans 'Login' %}</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}