{% extends "layout.html" %}
{% load i18n %}
{% block content %}
<br>
<form method="post" class="max-w-lg mx-auto p-6 bg-base-200 rounded-lg shadow-md">
  {% csrf_token %}
  <h2 class="text-2xl font-semibold mb-4">{% trans 'Forgot Password' %}</h2>

  <div class="grid grid-cols-1 gap-4">
    <div>
      <label for="username" class="label">Username*</label>
      <input type="text" id="username" name="username" placeholder="Enter your username"
      value="{{ request.POST.username }}" class="input input-bordered w-full" required>
    </div>
    
    <div>
      <label for="email" class="label">Registered Email*</label>
      <input type="email" id="email" name="email" placeholder="Enter your registered email"
      value="{{ request.POST.email }}" class="input input-bordered w-full" required>
    </div>
    {% for msg in messages %}<p class="text-error">{{ msg }}</p>{% endfor %}

    <button type="submit" class="btn btn-primary float-right">Send OTP</button>
  </div>
</form>
{% endblock %}