{% extends "layout.html" %}
{% load i18n %}
{% block content %}
<br>
  <form method="post"  class="max-w-lg mx-auto p-6 bg-base-200 rounded-lg shadow-md">
    {% csrf_token %}
    <h2 class="text-2xl font-semibold mb-4">{% trans 'Change Password' %}</h2>
  
    <div class="grid grid-cols-1 gap-4">
    <div>
      <label class="label" for="old_password">
        <span class="label-text">{% trans 'Current Password' %}</span>
      </label>
      <input name="old_password" id="old_password" type="password" class="input input-bordered w-full" />
      {% if form.old_password.errors %}<p class="text-error text-sm mt-1">{{ form.old_password.errors.0 }}</p>{% endif %}
    </div>

    <div class="grid md:grid-cols-2 sm:grid-cols-2 gap-3">
      <div>
        <label class="label"  for="new_password1">
          <span class="label-text">{% trans 'New Password' %}</span>
        </label>
        <input name="new_password1" id="new_password1" type="password" class="input input-bordered w-full" />
        {% if form.new_password1.errors %}<p class="text-error text-sm mt-1">{{ form.new_password1.errors.0 }}</p>{% endif %}
      </div>
    
      <div>
        <label class="label" for="new_password2">
          <span class="label-text">{% trans 'Confirm New Password' %}</span>
        </label>
        <input name="new_password2" id="new_password2" type="password" class="input input-bordered w-full" />
        {% if form.new_password2.errors %}<p class="text-error text-sm mt-1">{{ form.new_password2.errors.0 }}</p>{% endif %}
      </div>
    </div>
   
<div class="grid md:grid-cols-2 sm:grid-cols-2 gap-3 mt-5">
  <a href="{% url 'index' %}" class="btn btn-outline btn-error"> {% trans 'Cancel' %} </a>
    <button type="submit" class="btn btn-primary">{% trans 'Change Password' %}</button>
</div>
  </div>
  </form>
{% endblock %}
